[submodule "dependencies/uicore"]
	path = dependencies/uicore
	url = https://github.com/RadicalProcess/uicore
[submodule "dependencies/JUCE"]
	path = dependencies/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "dependencies/curtis_core"]
	path = dependencies/curtis_core
	url = https://github.com/RadicalProcess/curtis_core
